<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
        border: dotted 3px green;
    }

    /*//html, */
    body {
        height: 100%;
        padding: 50px !important;
    }

    span.title {
        display: block;
        font-size: 13px;
        padding: 5px 0px 5px 0px;
        /*margin: 0px 0px 0px 100px;*/
        width: 300px;
        color: #3CB4E7;
    }


</style>
<div ui-view name="main" class="container-full" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">


        <!--<div class="row">-->

        <div class="col-md-3">

            <h3>Select files</h3>

        <h3>Select files</h3>

        <div ng-show="uploader.isHTML5">
            <!-- 3. nv-file-over uploader="link" over-class="className" -->
            <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                Base drop zone
            </div>


        </div>


        <input type="file" nv-file-select="" uploader="uploader"/>
            {{form.type}} {{form.gallery}}
        <div class="row">
            <!--<span class="col-md-3"> Type:</span> <span class="col-md-9">  <select style="width:120px"-->
                                                                                  <!--ng-model="form.type"-->
                                                                                  <!--ng-options="l.id as l.name for l in types"></select></span>-->
            <span class="col-md-3"> Gallery:</span> <span class="col-md-9"> <select ng-model="form.type" ng-options="ds for ds in datasets"></select> </span>

        </div>

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
        <h3>Upload queue</h3>

        <p>Queue length: {{ uploader.queue.length }}</p>
        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th ng-show="uploader.isHTML5">Size</th>
                <th ng-show="uploader.isHTML5">Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="fa fa-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                    <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
                </td>
                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="fa fa-upload"></span> Upload
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                            ng-disabled="!item.isUploading">
                        <span class="fa fa-ban"></span> Cancel
                    </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="fa fa-trash-o"></span> Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                    ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
                    ng-disabled="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                    ng-disabled="!uploader.queue.length">
                <span class="fa fa-trash-o"></span> Remove all
            </button>
        </div>

    </div>


</div>


<div class="col-md-12">
    <!--<h4>Claim View 201.2</h4>-->

    <style type="text/css">
        .label-info, .badge-info {
            background-color: #a92aad;
            margin: 5px;
            width: 120px;
        }
    </style>
    <div id="main-content">

        <form name="formUpload" method="post" action="Upload" enctype="multipart/form-data">
            <div ng-class="{error: formUpload.name.$invalid}" class="control-group"></div>
        </form>


        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="fa fa-upload"></span> Upload all
        </button>


    </div>

    <!--<pre>claim = {{claim | json}}</pre>-->
    <!--<pre>form = {{form | json}}</pre>-->

</div>

