<!--<h1> claim info 1</h1>-->
<!--this modified on 11/19/13 for bs 3.0-->
<!--<style type="text/css">-->
<!--span.title {-->
<!--display: block;-->
<!--font-size: 13px;-->
<!--padding: 5px 0px 5px 0px;-->
<!--/*margin: 0px 0px 0px 100px;*/-->
<!--width: 300px;-->
<!--color: #3CB4E7;-->
<!--}-->

<!--body {-->
<!--padding: 70px !important;-->
<!--}-->

<!--.ng-table-rowselected tr {-->
<!--cursor: pointer;-->
<!--}-->

<!--.table-hover > tbody > tr.active:hover > th {-->
<!--background-color: #e8e8e8;-->
<!--}-->

<!--a.editable-click {-->
<!--color: red;-->
<!--border-bottom: dotted 2px green;-->
<!--font-size: 26px;-->
<!--}-->

<!--a.editable-click:hover {-->
<!--color: #47a447;-->
<!--border-bottom-color: #47a447;-->
<!--font-size: 26px;-->
<!--}-->

<!--a {-->
<!--color: blue;-->
<!--}-->

<!--.well2 {-->
<!--background-color: #d1ff00;-->
<!--}-->
<!--</style>-->
<div class="row clearfix">
    <div class="col-md-12 column">
        <h4>Add trip</h4>
        <hr>
        <h4> Date {{trip.Start | moment:'dddd MMMM Do YYYY '}} Time: {{trip.Start | moment:'hh:mm A'}} to {{trip.End |
            moment:'hh:mm A'}}</h4>
        <h4> Boat: {{trip.Owner}} Desc: {{trip.tripdesc}}</h4>
        <h4> Price: {{trip.tripprice}} &nbsp; Spots: {{trip.spots}} &nbsp; Taken: {{trip.taken}} &nbsp;Avail:
            {{trip.spots - trip.taken}}</h4>
        <hr>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-8">
        <div id="jumbo" class="jumbotron">
            <form fs-form-for model="trip">
                <fieldset class="form-horizontal">


                    <legend>trip info</legend>


                    <!--<select ng-model="trip.OwnerID" ng-show="currentUser.role>='3'"-->
                    <!--ng-options="status for status in statuses"></select>-->

                    <fs-input as="fs-select" name="OwnerID" label="OwnerID" items="boats"><b>{{ item.id }}</b> {{
                        item.label }}
                    </fs-input>
                    <!--<div fs-select="" items="boats" ng-disabled="disabled" ng-model="OwnerID">-->
                    <!--<span ng-show="item"> <b>{{item.id}}</b> {{item.label}} </span>-->
                    <!--<span ng-hide="item"> pick a boat </span>-->
                    <!--</div>-->

                    <!--ng-click="setTime(trip.Start)-->
                    <div class="form-group row">
                        <label class="col-xs-4 control-label">StartDateTime</label>

                        <div class="col-xs-6">
                            <div fs-datetime="" ng-model="trip.Start"></div>
                        </div>

                    </div>
                    <br>

                    <div class="form-group row">
                        <label class="col-xs-4 control-label">EndDateTime</label>

                        <div class="col-xs-6">
                            <div fs-datetime="" ng-model="trip.End"></div>
                        </div>

                    </div>

                    <div class="col-md-4"> spots:</div>
                    <div class="col-md-8">
                        <input type="number" style="width:250px" ng-model='trip.spots' name="spots"
                               required=""/>
                    </div>
                    <br>

                    <div class="col-md-4">tripprice:</div>

                    <div class="col-md-8">
                        <input type="text" style="width:250px" ng-model='trip.tripprice' name="tripprice"
                               required=""/>
                    </div>
                    <br>

                    <div class="col-md-4">tripdesc:</div>
                    <div class="col-md-8">
                        <input type="text" style="width:250px" ng-model='trip.tripdesc' name="tripdesc"
                               required=""/></div>
                    <br>


                    <div class="col-md-4"> Title:</div>
                    <div class="col-md-8">
                        <input type="text" style="width:250px" ng-model='trip.Title' name="Title" required=""/>
                    </div>

                    <br>


                    <div class="col-md-4" style="background-color:yellow">Charter:</div>
                    <div class="col-md-8">
                        <input type="checkbox" ng-model="trip.isCharter"
                               required/></div>
                    <br>

                    <div class="col-md-4">chartername:</div>
                    <div class="col-md-8">
                        <input type="text" style="width:250px" ng-model='trip.chartername' name="chartername"
                               required=""/></div>
                    <br>

                    <fs-row label="Result">
                  <pre>
                      Entered datetime: {{ trip.Start | date:'medium'}}
                       Entered datetime: {{ trip.End | date:'medium'}}
                  </pre>
                    </fs-row>


                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row clearfix">
    <div class="col-md-8">
        <div class="col-md-2">

            <button class="btn btn-success" ng-click="addtripTasks(trip)" tooltip="update booking record">Save</button>
        </div>

        <div class="col-md-2">
            <button ng-click="cancelAdmin(1)" class="btn btn-warning">close</button>

        </div>

    </div>
</div>
